body{
    padding: 25px;
    width: 100vw;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    background-image: url('../imagens/background-neon.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    min-height: 400px;
    border-radius: 10px;
    background-color: #070b12;
    border: 2px solid #e126d9;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    
}

.container .btn{
    position: absolute;
    top: 130px;
    left: 50;
    width: 80px;
}

.container h1{
    color: #b7bac5;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container a{
    width: 80%;
    color: #fbfdff;
    padding: 10px;
    background-color: #b346ad7a;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #e126d9;
}

.container a:hover{
    background-color: #e126d9;
    transition: 0.5s;
}



